.mainPage {
  
    width: 1300px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.leftSidePanel {
    background-color: rgb(58, 56, 56);
    width: 660px;
    height: 100%;
    font-family:'Times New Roman', Times, serif;
    filter: drop-shadow(4px 5px 3px);
    border-radius: 5px;
}

.aTag{

    text-decoration: none;
    color: white;
   

}

.aTag:hover{
 filter: drop-shadow(4px 5px 2px rgb(0, 0, 0));
 transform: scale(1.1);
 
   
}

.aTag:active{
 
    color: Crimson;
   
}


.img{
    width: 56%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: 5px;
    /* box-shadow: 2px 2px 2px rgb(209, 0, 0);
    border-radius: 100%; */
    filter: drop-shadow(2px 2px 70px rgb(209, 0, 0));    
    
}

.contactMeDivParent {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
}



.contactMeFont{
    font-size: 25px;
    padding-bottom: 0px;
   
}

.hrLine{
    border: 1px solid red;
  margin-bottom: 30px;
  margin-top: 30px;
    width: 80%;
    

  
}

.addressDiv {
padding-top: 20px;

}

.icon{
    width: 40px;
    padding-right: 10px;
    
}

.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(4px 5px 2px rgb(0, 0, 0));
}

.iconDiv{
    display: inline-flex;
}

.textDiv{
    display: inline-flex;
}



.skillDivParent{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    

}
.logosAndText{
    display:grid;
   position: relative;
   left: -20px;
    grid-template-columns: 50% 50% ;
    text-align: center;
    
    
}
.logo{
    width: 80px;
   
}
.skillDiv{
    display: inline-block;
    margin-bottom: 20px;

   
}

.skillName{
    font-size: 22px;
    
}

.followMeParent{

    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
}


.followMeFont{
    font-size: 25px;
    padding-bottom: 0px;
   
}



.rightSidePanel {
   
    width: 100%;
   

}

.rightSidePanel  {
   
 background-color: rgb(215, 226, 226);


}

.nameDiv {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    left: 25%;
    margin-top: 50px;
    filter: drop-shadow(2px 5px 5px);

}


.name{
    font-size: 60px;
}

.major{
    font-size: 30px;
}

.ExperianceParent  img, .EducationParent img{

    width: 35px;


}



.ExperianceParent, .EducationParent {
margin-top: 100px;
margin-left: 50px;
}

.iconAndTextDivs {
    display: inline-flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    
 
}

.iconAndTextDivs div{
    margin: 7px;
}

.hrLineRightPanel{

    border: 1px solid;
    height: 1px;
    background-color: black;
    margin-top: 0px;

}

.timelineAndInfo .educationInfo {

    margin: 20px 0px;
}